.main{
  padding: 25px;
  background: var(--background);
  color: var(--on-background);
}



/* --------------------navbar styling--------------------- */
.topnav {
    background-color: rgb(129, 156, 248);
    overflow: hidden;
    height: 55px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #eaf4f5;
  text-align: center;
  font-family: 'rockwell';
  padding: 14px 16px;
  text-decoration: rgb(129, 156, 248);
  font-size: 20px;
  height: 55px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(248, 247, 247);
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #e7f0f3;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
  height: 50px;
}


/*------------------------------------ for profile image */
img {
    height: 250px;
    width: 250px;
    align-items: center;
    margin-left: 10px;
    border-radius: 50%;
  }

/* -----------------------------for two div----------------- */
  .float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child1 {
    width: 35%;
    height: auto;
    float: left;
    padding-right: 30px;
    /* border: 3px solid red; */
    text-align: center;
} 

.float-child2 {
    width: 65%;
    height: auto;
    float: left;
    padding: 10px;
    /* border: 3px solid red; */
} 

.float-child3 {
    width: 100%;
    height: auto;
    float: left;
    padding: 10px;
    margin-top: 10px;
    /* border: 3px solid red; */
} 

/* ---------------------for links---------------- */
.main-item{
  font-family: 'Times New Roman', Times, serif; 
  font-size: larger; 
  padding-left: 16px;
}

/*--------------------- for bio */
.bio{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  font-size: large;
}

/* ----------------------about me--------------------- */
.about{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
}


/* list items ------------------------------------ */
ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

